@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: "Roboto Condensed", sans-serif;
}

.site-header{
    background-color: #fff;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.sitenav-link{
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #111;
}
.main-link{
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    background: #FF7500;
    border-radius: 4px;
    color: white;
}
/*Header section*/










/*Hero section*/

.hero_section{
    background-color: #333;
    color: white;

}
.hero__section--left{
    width: 390px;
}
.orange__line__line{
    width: 80px;
    height: 3px;
    background-color: #FF7500;
}
.hero__heading{

    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
}
.hero__text{

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
}
.hero__img{
    filter: drop-shadow(24px 24px 0px rgba(255, 117, 0, 0.6));
    border-radius: 8px;
}

/*Future sectio*/

.future_heading{
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 0.5px;


}
.future-heading{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.5px;
}
.future-img{
    background: rgba(255, 117, 0, 0.2);
    border-radius: 50%;
    padding: 15px;
}
.future-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
}

/*Aksiya section*/
.aksiya__section{
    background: #252420;
    border-radius: 12px;
    color: #ffffff;
}
.aksiya__heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
}
.aksiya__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
}
.aksiya_span{
    color: #FF7500;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
}

/*Footer section*/


.footer__section ul {
    margin-top: 25px;
}
.footer__section--text ul li a{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #252420;
}
.footer__line{
    width: 1100px;
    height: 2px;
    background-color: #111111;
}










